/* ***----------------------Navbar style----------------------------*** */

.container {
    max-width: 1440px;
    margin: 0 auto;
}

#nav-container {
    width: 1440px;
    margin: 0 auto;
}

.nav-content-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content-container h2 {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-li {
    padding-left: 174px;
    padding-right: 190px;
    color: rgba(19, 19, 19, 0.8);
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* ***-------List item animation & Hover-------*** */


/* Clickable button & change page  */

.li-1 {
    text-decoration: none;
    color: rgba(19, 19, 19, 0.8);
}

.li-2 {
    text-decoration: none;
    color: rgba(19, 19, 19, 0.8);
}

.li-1:hover {
    color: #231f01;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease;
    animation-duration: 3s;
    padding: 8px;
    border-radius: 8px;
    background-color: #23BE0A;
}

.li-2:hover {
    color: #100f0f;
    cursor: pointer;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease;
    animation-duration: 3s;
    padding: 8px;
    border-radius: 8px;
    background-color: #1de1e1;
}

.li-3:hover {
    color: #2ccbce;
    cursor: pointer;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease;
    animation-duration: 3s;
    padding: 8px;
    border-radius: 5px;
    background-color: #0e0e0e;
}

.nav-li ul {
    gap: 16px;
    display: flex;
    list-style: none;
}


/* ***-----------Button Style start-------------*** */

.nav-btn {
    display: flex;
    gap: 16px;
}

.btn-1 {
    /* ***------[btn] in side style------*** */
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* ***-----[btn] Out side------*** */
    border-style: none;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    gap: 16px;
    display: inline-flex;
    padding: 18px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #23BE0A;
    cursor: pointer;
    transition: all 0.3s ease;
    animation-duration: 3s;
    box-shadow: 0px 3px 5px 0px rgba(47, 47, 47, 0.771);
}

.btn-2 {
    /* ***------in side style-------*** */
    color: #7505e5;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* ***------Out side-------*** */
    border-style: none;
    border-radius: 8px;
    display: inline-flex;
    padding: 18px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #59C6D2;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px rgba(47, 47, 47, 0.771);
}

.btn-1:hover {
    background-color: #0e0e0e;
    color: #3bf1f1;
    transition: all 0.3s ease;
    animation-duration: 3s;
}

.btn-2:hover {
    background-color: #0e0e0e;
    color: #eaf42e;
    transition: all 0.3s ease;
    animation-duration: 3s;
}


/* ***-----------Button Style End-------------*** */


/* ***------------------Navbar Style End---------------------*** */


/* ***-----------------Card details page style------------------------*** */

#page-id {
    width: 1170px;
    margin: 0 auto;
}

.page-main-container {
    margin-top: 60px;
    display: flex;
    gap: 48px;
    margin-bottom: 164px;
}

.img-container {
    width: 573px;
    height: 711px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(19, 19, 19, 0.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 564px;
    padding: 75px;
}

.txt-container {}

.txt-container-header h1 {
    color: #131313;
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt-container-header p {
    color: rgba(19, 19, 19, 0.80);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.line {
    background: rgba(19, 19, 19, 0.15);
    width: 549px;
    height: 1px;
}

.line2 {
    background: rgba(19, 19, 19, 0.15);
    width: 549px;
    height: 2px;
}

.line3 {
    margin-top: 32px;
    margin-bottom: 32px;
    background: rgba(19, 19, 19, 0.15);
    width: 549px;
    height: 2px;
}

.fiction {
    color: rgba(19, 19, 19, 0.80);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rvw-head {
    color: #131313;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.review {
    color: rgba(19, 19, 19, 0.70);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.borders {
    border: 1px solid red !important;
}

.tag {
    display: flex;
    gap: 40px;
}

.tag-1 {
    color: #131313;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.hash-tag {
    color: #23BE0A;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.about-us-details {
    display: flex;
    gap: 60px;
    padding-bottom: 32px;
}

.about-us-text {
    color: rgba(19, 19, 19, 0.70);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.about-us-result {
    color: #131313;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}